.navbar {
  grid-area: nav;
  background-color: rgba(107, 0, 0, 0.397);
  padding: 20px;
}

.item {
  padding-bottom: 10px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: gold;
}