.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems a{
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.messages {
    padding: 10px;
}